<div class="container fluid">
  <div class="row">
      <div class="col-6">
          <h3 class="petate">Maleta de Barco nº {{maletaBarco.id}} ({{maletaBarco.peso}} Kg)</h3>
          <app-maletab></app-maletab>
      </div>
      <div class="col-6">
          <app-lista></app-lista>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
          <h3 class="petate">Maleta de Barco nº {{maletaBarco.id}} ({{maletaBarco.peso}} Kg)</h3>
          <app-maletab></app-maletab>
      </div>
      <div class="col-6">
          <app-lista class="listado"></app-lista>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
          <h3 class="petate">Maleta de Barco nº {{maletaBarco.id}} ({{maletaBarco.peso}} Kg)</h3>
          <app-maletab></app-maletab>
      </div>
      <div class="col-6">
          <app-lista></app-lista>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
          <h3 class="petate">Maleta de Barco nº {{maletaBarco.id}} ({{maletaBarco.peso}} Kg)</h3>
          <app-maletab></app-maletab>
      </div>
      <div class="col-6">
          <app-lista></app-lista>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
          <h3 class="petate">Maleta de Cabina {{maletaCabina.id}} ({{maletaCabina.peso}} Kg)</h3>
          <app-maletac></app-maletac>
      </div>
      <div class="col-6">
          <app-lista></app-lista>
      </div>
  </div>
</div>

