
.fechaRecogida {
  background-color: #fff;
  border: #000;
  margin-left: 5%;
}

.informacion {
  width: 1.5em;
  margin-bottom: 2%;
}

div.p-2.tipo-m {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container-fluid {
  z-index: 1;
}

.div.col {
  z-index: 1;
}

.nombre-campo {
  font-size: 1.3em;
  color: #000;
}

.mensaje {
  margin-top: 5%;
}

.tipo-m {
  font-family: 'Franklin Gothic Medium';
  font-size: 3em;
  color: #000;
}

.maleta-nueva {
  width: 13em;
  margin-left: 25%;
}

.maleta-nueva-c {
  margin-top: 20%;
  width: 15em;
  z-index: 1;
}

.btn {
  margin-top: 25%;
  background-color: rgb(5, 71, 46);
  border-color: rgb(5, 71, 46);
}

.boton-primario {
  border-radius: 5px;
  background-color: rgb(5, 71, 46);
  display: inline;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  width: 10em;
  height: 2.5em;
}

.enviar {
  width: 6em;
  margin-left: 10%;
}

.resetear {
  width: 6em;
}

div.botonera {
  margin-top: 25%;
  display: inline-flex;
}

.boton-primario:hover {
  background-color: rgb(58, 58, 57);
}
.cantidad {
  font-size: medium;
  margin-bottom: 10%;
  margin-right: 15%;
  width: 70px;
  height: 20px;
}

.item input[type="checkbox"] {
  appearance: checkbox;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s all;
  cursor: pointer;
  z-index: 2;
}

.item input[type="checkbox"]:checked {
  border: 2px solid rgb(3, 78, 34);
  color: #000;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.item input[type="checkbox"]:checked~label {
  color: rgb(0, 0, 0);
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(119, 53, 53);
}


.list-items {
  display: inline-block;
  width: 29em;
  height: 19em;
  background-color: #a5abb1;
  margin-left: 15%;
  margin-bottom: 0%;
  margin-top: 2%;
  overflow-y: scroll;
}

.seleccionados{
  margin-top: 0%;
}

.item {
  width: 100%;
  height: 3em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 2fr 30fr 1fr;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-size: large;
}

.cargar {
  margin-left: 50%;
}

.seleccionado{
  width: 100%;
  height: 3em;
  font-size: large;
}

.cantidad {
  font-size: medium;
  margin-bottom: 10%;
  margin-right: 15%;
  width: 3.5em;
  height: 1.5em;
}


.item input[type="checkbox"]:checked {
  border: 2px solid rgb(3, 78, 34);
  color: #000;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.item input[type="checkbox"]:checked ~ label {
  color: rgb(0, 0, 0);
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(119, 53, 53);
}

.boton-primario {
  border-radius: 5px;
  background-color: rgb(5, 71, 46);
  display: inline;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  width: 10rem;
  height: 2.5rem;
}

.campo-nombre {
  margin-left: 100%;
}
.campo-peso {
  margin-left: 100%;
}

.boton-primario:hover {
  background-color: rgb(58, 58, 57);
}

.boton-formulario {
  background-color: rgb(5, 71, 46);
  color: white;
  margin-bottom: 3%;
  margin-left: 50%;
}

.enviar {
  margin-left: 30%;
}

.btn-secondary {
  background-color: rgb(5, 71, 46);
}

