<div class="p-2 tipo-m">Nueva Maleta</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img class="maleta-nueva img-fluid ocultar" src="assets/maletaB.png" alt="Maleta de Barco" *ngIf="formulario == 1" />
            <img class="maleta-nueva-c img-fluid ocultar" src="assets/mochila.png" alt="Maleta de Cabina" *ngIf="formulario == 2" />
        </div>
        <div class="col-4">
            <label for="seleccione" class="nombre-campo">Seleccione tipo</label>
            <select [(ngModel)]="formulario" class="form-control">
        <option value="0">Selecione tipo</option>
        <option value="1">Barco</option>
        <option value="2">Cabina</option>
      </select>
            <form #barcoForm="ngForm">
                <div class="form-row py-2">
                    <div class="" *ngIf="formulario == 1">
                        <label for="peso" class="nombre-campo">Peso</label>
                        <input name="peso" type="number" class="form-control" placeholder="de su maleta vacía" min="0" [(ngModel)]="maletaBarco.pesoEnVacio" step="any" required #pes="ngModel" [ngClass]="{
                'is-invalid': pes.invalid && (pes.dirty || pes.touched),
                'is-valid': !pes.invalid
              }" />
                        <label for="fechaRecogida" class="nombre-campo">
              Fecha de Recogida:
              <img class="informacion" src="assets/informacion.png" alt="Información"
                title="La fecha de recogida será aproximadamente un mes antes de la fecha de despliegue de su Unidad"
               /></label>
                        <input name="fechaRecogida" type="date" class="form-control" [(ngModel)]="maletaBarco.fechaRecogida" required name="fecha" #fechRec="ngModel" [ngClass]="{
                'is-invalid':
                  fechRec.invalid && (fechRec.dirty || fechRec.touched),
                'is-valid': !fechRec.invalid
              }" />
              <div class="invalid-feedback">Todos los campos son obligatorios</div>
                    </div>
                    <div *ngIf="formulario == 2">
                        <label for="peso" class="nombre-campo">Peso</label>
                        <input name="peso" type="number" class="form-control" placeholder="de su maleta vacía" min="0" [(ngModel)]="maletaCabina.pesoEnVacio" step="any" required #pes="ngModel" [ngClass]="{
                'is-invalid': pes.invalid && (pes.dirty || pes.touched),
                'is-valid': !pes.invalid
              }" />
                        <label for="altura" class="nombre-campo">Altura(cm)</label>
                        <input name="altura" type="number" class="form-control" placeholder="alto" min="0" max="55" [(ngModel)]="maletaCabina.altura" required #alt="ngModel" [ngClass]="{
                'is-invalid': alt.invalid && (alt.dirty || alt.touched),
                'is-valid': !alt.invalid
              }" />

                        <label for="anchura" class="nombre-campo">Anchura(cm)</label>
                        <input name="anchura" type="number" class="form-control" placeholder="ancho" min="0" max="35" [(ngModel)]="maletaCabina.anchura" required #anch="ngModel" [ngClass]="{
                'is-invalid': anch.invalid && (anch.dirty || anch.touched),
                'is-valid': !anch.invalid
              }" />
                        <label for="profundidad" class="nombre-campo">Profundidad(cm)</label>
                        <input name="profundidad" type="number" class="form-control" placeholder="profundo" min="0" max="25" [(ngModel)]="maletaCabina.profundidad" required #prof="ngModel" [ngClass]="{
                'is-invalid': prof.invalid && (prof.dirty || prof.touched),
                'is-valid': !prof.invalid
              }" />
              <div class="invalid-feedback">Todos los campos son obligatorios.</div>
              <div class="invalid-feedback"><p>Las medidas de su maleta no deben superar las siguientes: 55x35x25</p></div>
                    </div>
                </div>
                <div class="row" *ngIf="formulario == 1">
                    <div class="col-6">
                        <button type="reset" class="btn btn-primary boton-primario resetear">
              Resetear
            </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary boton-primario enviar" data-bs-toggle="modal" data-bs-target="#modalBarco" [disabled]="!barcoForm.form.valid">
              Crear Maleta B
            </button>
                    </div>
                    <br />
                </div>
                <div class="row" *ngIf="formulario == 2">
                    <div class="col-6">
                        <button type="reset" class="btn btn-primary boton-primario resetear">
              Resetear
            </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary boton-primario enviar" data-bs-toggle="modal" data-bs-target="#modalCabina"  [disabled]="!barcoForm.form.valid">
              Crear Maleta C
            </button>
                    </div>
                    <br />
                </div>
            </form>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="modalBarco">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar Operación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Se va a crear una nueva Maleta de Barco</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="create()" routerLink="">Aceptar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" id="modalCabina">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar Operación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Se va a crear una nueva Maleta de Cabina</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="createC()" routerLink="">Aceptar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
</div>
