<div class="container-fluid col-12">
    <div class="row">
        <div class="col-4">
            <h1>Maleta de cabina nº {{ maletaCabina.id }}</h1>
            <div class="card tarjetapeso">
                <p class="peso" title="El peso máximo permitido es la suma del peso en vacío de su maleta y el peso de todos sus elementos">Peso máximo permitido 8kg</p>
            </div>
            <img class="maleta-nueva img-fluid ocultar" src="assets/mochila.png" alt="Maleta de Cabina" />
        </div>
        <div class="col-4" *ngIf="maletaCabina">

            <div class="card">
                <p class="dato">Peso: {{ maletaCabina.pesoEnVacio }} kg</p>
                <p class="dato">Altura: {{ maletaCabina.altura }}</p>
                <p class="dato">Anchura: {{ maletaCabina.anchura }}</p>
                <p class="dato">Profundidad: {{ maletaCabina.profundidad }}</p>
                <button type="button" class="btn btn-primary contenido" data-bs-toggle="modal" data-bs-target="#modalPutC" (click)="maletaCabinaSeleccionada.emit(this.maletaCabina)">
        Editar
      </button>
            </div>
            <div id="volver">
                <div class="row">
                    <div class="col">
                        <a type="button" routerLink="/maletas" class="btn contenido">Volver</a>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary contenido eliminar" data-bs-toggle="modal" data-bs-target="#modalEliminar" >
            Eliminar Maleta
          </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <app-elementos-cab-form (elementoCrear)="onElementoCrear($event)"></app-elementos-cab-form>
            <div *ngIf="elementos.length > 0"></div>
            <div class="list-items">
                <div class="container-fluid col-12 campos">
                    <div class="col-10">
                        <div class="seleccionado item" *ngFor="let elemento of elementos">
                            <app-elemento *ngIf="elemento" [elemento]="elemento" (elementoEliminar)="onElementoEquipoEliminar($event)"></app-elemento>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="modal fade" id="modalPutC" tabindex="-1" aria-labelledby="formularioMaleta" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Maleta de cabina {{maletaCabina.id}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <app-mcabinamodificar [maletaCabina]="maletaCabina"></app-mcabinamodificar>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
Cerrar
            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id = "modalEliminar" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">¿Confirma la operación?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Se va a eliminar la maleta {{maletaCabina.id}}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="eliminarMaleta()" routerLink="">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
