<form class="col-12">
  <div>
      <div class="row">
          <div>
              <label for="altura" class="nombre-campo">Altura(cm)</label>
              <input name="altura" type="number" class="form-control" placeholder="alto" min="0" max="55" [(ngModel)]="maletaCabina.altura" required #alt="ngModel" [ngClass]="{'is-invalid': alt.invalid && (alt.dirty || alt.touched), 'is-valid' : !alt.invalid}"/>
              <label for="anchura" class="nombre-campo">Anchura(cm)</label>
              <input name="anchura" type="number" class="form-control" placeholder="ancho" min="0" max="35" [(ngModel)]="maletaCabina.anchura" required #anch="ngModel" [ngClass]="{'is-invalid': anch.invalid && (anch.dirty || anch.touched), 'is-valid' : !anch.invalid}"/>
              <label for="profundidad" class="nombre-campo">Profundidad(cm)</label>
              <input name="profundidad" type="number" class="form-control" placeholder="profundo" min="0" max="25" [(ngModel)]="maletaCabina.profundidad" required #prof="ngModel" [ngClass]="{'is-invalid': prof.invalid && (prof.dirty || prof.touched), 'is-valid' : !prof.invalid}"/>
              <label for="peso" class="nombre-campo">Peso(Kg)</label>
              <input name="profundidad" type="number" class="form-control" placeholder="de su maleta vacía" min="0" step="any" [(ngModel)]="maletaCabina.peso" required #pes="ngModel" [ngClass]="{'is-invalid': pes.invalid && (pes.dirty || pes.touched), 'is-valid' : !pes.invalid}" />
              <div class="row">
                  <div class="col-6">
                      <button type="reset" class="btn btn-primary resetear" (click)="borrarMensaje()">
  Resetear
</button>
                  </div>
                  <div class="col-6">
                      <button type="submit" class="btn btn-primary enviar" (click)="avisarCreada()">
  Enviar
</button>
                  </div>
                  <p class="nombre-campo">{{mensaje}}</p>
              </div>
              <div class="container">
                  <div class="botonera">
                      <button id="aceptar" class="boton-primario">Aceptar</button>
                      <button id="cancelar" class="boton-primario">
  Eliminar
</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>

