<div>
  <div class="p-2 tipo-m">Nueva Maleta de Cabina</div>
</div>
<div class="container-fluid">
  <div class="container">
      <div class="row">
          <div class="col">
              <img class="maleta-nueva-c img-fluid ocultar" src="assets/mochila.png" alt="Maleta de Cabina" />
              <div class="row">
                  <div class="col-12 progress">
                      <div class="progress-value">%</div>
                  </div>
              </div>
          </div>
          <div class="col">
              <app-cabinaform></app-cabinaform>
          </div>
          <div class="col">
              <app-listadomaterial></app-listadomaterial>
          </div>
      </div>
  </div>
</div>
