.list-items {
  align-content: center;
  margin-top: 10%;
  display: inline-block;
  width: 22em;
  height: 13em;
  ;
  background-color: rgb(5, 71, 46);
  margin-left: 0%;
  margin-bottom: 0%;
  overflow-y: scroll;
  color: white;
  padding: 0%;
}

.cantidad {
  color: white;
  margin-left: 5%;
}

.item {
  height: 2.5em;
}

.boton {
  height: 1.5em;
  width: 3em;
  background-color: rgb(5, 71, 46);
  color: white;
  margin-right: 3%;
  border-radius: 4px;
  margin-top: 5%;
  margin-top: 10%;
}
