<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <button class="btn btn-primary boton-formulario" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Nuevo Elemento
        </button>
                <div class="collapse" id="collapseExample">
                    <form #elementoForm="ngForm" class="row g-3 needs-validation">
                        <div class="col-md-4 position-relative ">
                            <label for="validationTooltip01" class="form-label campo-nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control campo-nombre" id="validationTooltip01" value="" required [(ngModel)]="elemento.nombre">
                            <div class="valid-tooltip">
                                nombre válido
                            </div>
                        </div>
                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip02" class="form-label campo-peso">Peso</label>
                            <input name="peso" type="number" class="form-control campo-peso" id="validationTooltip02" value="" required min="0" [(ngModel)]="elemento.peso">
                            <div class="valid-tooltip">
                                peso válido
                            </div>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary boton-formulario enviar" type="submit" (click)="create()">Crear elemento</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary boton-formulario enviar" type="reset">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-6">
                <h1>Listado de Elementos</h1>
                <div class="list-items">
                    <div class="seleccionado" *ngFor="let elemento of elementos">
                        <app-elementoitem *ngIf="elemento" [elemento]="elemento"></app-elementoitem>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>