<!-- <h3 class="card-title">
    <img class="petate" src="assets/maletaB.png" alt="Maleta Barco"> <b> Maleta de Barco {{maletaBarco.id}}</b>
</h3>
<p class="card-text">
    Fecha de Recogida: <b>{{maletaBarco.fechaRecogida |date: 'dd/MM/YYYY'}}</b>
</p>
<p class="card-text">
    Peso: <b>{{maletaBarco.pesoEnVacio}}</b>
</p>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ver contenido
</button>
<button class="btn btn-primary" (click)="eliminar()">Eliminar</button>
<button class="btn btn-primary" (click)="editar()">Editar</button> -->