<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card tarjetapeso">
        <p class="peso" title="El peso máximo permitido es la suma del peso en vacío de su maleta y el peso de todos sus elementos">Peso máximo permitido 25kg</p>
      </div>
      <img
        class="maleta-nueva img-fluid ocultar"
        src="assets/maletaB.png"
        alt="Maleta de Barco"
      />
    </div>
    <div class="col-4">
      <h1>Maleta de barco nº {{ maletaBarco.id }}</h1>
      <div class="card">
        <p class="dato">Fecha de recogida: {{ maletaBarco.fechaRecogida }}</p>
        <p class="dato">Peso: {{maletaBarco.pesoEnVacio}} Kg</p>
        <button
          type="button"
          class="btn btn-primary contenido"
          data-bs-toggle="modal"
          data-bs-target="#modalPut"
          (click)="maletaBarcoSeleccionada.emit(this.maletaBarco)"
        >
          Editar
        </button>
        <!-- <button class="btn" (click)="sumarPesos()"> Sumar peso</button> -->
      </div>
      <div id="volver">
        <div class="row">
          <div class="col">
            <a type="button" routerLink="/maletas" class="btn">Volver</a>
          </div>
          <div class="col">
          <button class="btn btn-primary contenido eliminar" routerLink="/maletas" (click)="avisar()">
            Eliminar Maleta
          </button>
        </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h1>Elementos cargados</h1>
      <div *ngIf="elementos.length > 0"></div>
      <div class="list-items">
        <app-elemento></app-elemento>
      </div>
      <!-- <button class="btn" (click)="sumarPesos()">Ver peso total</button> -->
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="modalPut"
  tabindex="-1"
  aria-labelledby="formularioMaleta"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Editar Maleta de barco {{ maletaBarco.id }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-mbarcomodificar [maletaBarco]="maletaBarco"></app-mbarcomodificar>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
