<div class="row">
  <div class="col-5">
    <label
      for=""
      [(ngModel)]="elemento.nombre"
      name="nombre"
      ngDefaultControl
      >{{ elemento.nombre | uppercase }}</label
    >
    <label [(ngModel)]="elemento.peso" name="peso" ngDefaultControl
      >({{ elemento.peso }} kg)</label
    >
  </div>
  <div class="col-3">
    <span class="maletas"
      ><span>
        <select
          name="selectorFormulario"
          id="selectorMaleta"
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="elemento.maleta"
          name="maleta"
          ngDefaultControl
        >
          <option class="form-control" value="{{ null }}">
            Sin maleta {{ null }}
          </option>
          <option
            class="form-control"
            *ngFor="let maleta of maletas"
            value="{{ maleta.urlMaleta }}"
          >
            M.Barco {{ maleta.id }}
          </option>
          <option
            class="form-control campo-peso"
            *ngFor="let maleta of maletas1"
            value="{{ maleta.urlMaleta }}"
          >
            M.Cabina {{ maleta.id }}
          </option>
        </select>
      </span>
    </span>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col">
        <button
          class="boton-elementos"
          name="aceptar"
          id="aceptar"
          (click)="modificarElemento(this.elemento)"
        >
          Aceptar
        </button>
      </div>
      <div class="col">
        <button
          class="boton-elementos eliminar"
          name="aceptar"
          id="aceptar"
          (click)="eliminar()"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
