<div class="row">
  <div class="col-6">
    <label for="" [(ngModel)]="elemento.nombre">{{
      elemento.nombre | uppercase
    }}</label>
    <label [(ngModel)]="elemento.peso">({{ elemento.peso }} kg)</label>
  </div>
  <div class="col-3">
    <span class="maletas"
      ><span>
        <select
          name="selectorFormulario"
          id="selectorMaleta"
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="elemento.maleta"

        >
          <option
            class="form-control"
            *ngFor="let maleta of maletas"
            value="{{ maleta.urlMaleta }}"
          >
            M.Barco {{ maleta.id }}
          </option>
          <option
            class="form-control campo-peso"
            *ngFor="let maleta of maletas1"
            value="{{ maleta.urlMaleta }}"
          >
            M.Cabina {{ maleta.id }}
          </option>
        </select>
      </span>
    </span>
  </div>
  <div class="col-3">
    <button class="boton-elementos" name="aceptar" id="aceptar" (click)="modificarElemento(this.elemento)">
      Aceptar
    </button>
  </div>
</div>
