#selectorMaleta{
  width: 9em;
  height: 2em;
  background-color:#a5abb1;
}

.maletas{
  margin-left: 0%;
}

.boton-elementos{
  position:sticky;
  background-color: rgb(5, 71, 46);
  margin-left: 50%;
  width: 4.5em;
  height: 2em;
  color: white;
  font-size: .75em;
}
.eliminar{
  margin-left: 20%;
}
