<div class="row">
  <div class="col-9 nombre">
  <label for=""
    >{{ elemento.nombre | uppercase }} ({{ elemento.peso }} Kg)</label
  >
</div>
  <div class="col-2 cantidad">
    <button
      class="boton-elementos eliminar"
      name="aceptar"
      id="aceptar"
      (click)="eliminar()"
    >
      Eliminar
    </button>
    <!-- <label for="">{{elemento.cantidad}}</label> -->
    <!-- <input
          type="number"
          min="0"
          class="cantidad"
          placeholder="cant."
          disabled
        /> -->
  </div>
</div>
<!-- <div>
  <pre>{{ mostrarElementos() | json }} </pre>
</div> -->
